.africa_world_color {
  color: var(--africa-world-color);
}

.x_live_color {
  color: var(--x-live-color);
}

.nxt_up_color {
  color: var(--nxt-up-color);
}

.africa_world_bg {
  background-color: var(--africa-world-bg-color);
}

.x_live_bg {
  background-color: var(--x-live-bg-color);
}

.nxt_up_bg {
  background-color: var(--nxt-up-bg-color);
}
