@import "@/styles/helpers/helpers-all.scss";

.item {
  padding: 0 0.3rem 1rem 0;
  min-width: 10rem;

}

.item:first-child {
  @media (min-width: 1020px) {
    min-width: 16rem;
    // width: max-content;
  }
}

.button {
  display: flex;
  align-items: center;

  font-family: var(--font-baguede);
  color: var(--light);

  cursor: pointer;
  transition: background-color 0.3s;

  @include bp($tablet_max, min) {
    height: 5.6rem;
    padding: 0 3rem;

    font-size: 1.7rem;
    letter-spacing: -0.68px;
  }

  @include bp($tablet_max - 1) {
    padding: 0 0.8rem;
    height: 3.2rem;

    font-size: 1.2rem;
    letter-spacing: -0.48px;
    white-space: nowrap;
  }

  &.button--active_state {
    background-color: #919a57;
  }

  &.button--disabled_state {
    color: #707070;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    background-color: var(--primary-color);
  }
}

.icon {
  position: relative;

  width: 1rem;
  height: 1.4rem;
  margin-right: 0.4rem;
}
