@import "@/styles/helpers/helpers-all.scss";

.body {
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  @include bp($tablet_max, min) {
    padding-top: 4rem;
    min-height: 26.4rem;
  }

  @include bp($tablet_max - 1) {
    min-height: 14rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include bp($tablet_max, min) {
    margin: 0 -4.5rem -4.5rem 0;
  }

  @include bp($tablet_max - 1) {
    margin: 0 -2rem -2rem 0;
  }
}
