@import "@/styles/helpers/helpers-all.scss";

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__image {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include bp($tablet_max - 1) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .pay_with {
    white-space: nowrap;
    @include bp($tablet_max, min) {
      margin: 0 6rem 0 0rem;
    }
    @include bp($tablet_max - 1) {
      margin: 0 3rem 0 0rem;
    }

    @include bp($mobile_lg) {
      font-size: 0.9rem;
    }
  }
  .icon {
    flex: 1;
  }
  svg {
    @include bp($mobile_lg) {
      width: 60%;
    }
  }
  .icon {
    flex: 1;
  }

  @include bp($tablet_max, min) {
    min-height: 10rem;
    max-height: 12.8rem;
    width: 12.8rem;
    margin-right: 3.6rem;
  }
  @include bp($tablet_max - 1) {
    min-height: 3.5rem;
    max-height: 5.5rem;
    width: 7.4rem;
    margin-right: 1.5rem;

    img {
      border-radius: var(--br-sm);
    }
  }
}

.product__qty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .quantity_value {

    color: currentColor;
    @include bp($tablet_max, min) {
      font-size: 3.8rem;
    }
    @include bp($tablet_max - 1) {
      font-size: 1.5rem;
    }
  }

  & .quantity_text {
    @include bp($mobile_lg) {
      font-size: 1rem;
    }
  }
}

.product__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  letter-spacing: -0.04em;
  color: var(--light);
  width: 25rem;
  max-width: 100%;

  @include bp($tablet_max, min) {
    margin-left: 2rem;
    font-size: 3rem;
  }

  @include bp($tablet_max - 1) {
    margin-left: 2rem;
    width: 8rem;
    font-size: 1.5rem;
  }
}
