@import "@/styles/helpers/helpers-all.scss";

.cart_table {
  // @include block_border();

  &.cart_table--offset_mod {
    &:not(:last-child) {
      @include bp($tablet_max, min) {
        margin-bottom: 1.2rem;
      }
      @include bp($tablet_max - 1) {
        margin-bottom: 5.6rem;
      }
    }
  }
}

.cart_table__in {
  @include bp($tablet_max - 1) {
    position: relative;
    z-index: 2;
    &:not(:last-child) {
      margin-bottom: 2.9rem;
    }
  }
}

.cart_table__row {
  @include block_border();
  position: relative;
  border-radius: var(--br-3);
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  @include bp($tablet_max, min) {
    padding: 0rem 2rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  @include bp($tablet_max - 1) {
    padding: 2rem;
    border-radius: var(--br-1);
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .recommended {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.1rem;
    background-color: rgba(#000, 1);
    border-radius: var(--br-3);
    @include bp($tablet_max - 1) {
       background: var(--dark);
    }
    @include bp($mobile_lg) {
      font-size: 0.9rem;
      padding: 0.3rem 1.1rem;
    }
    .diamond {
      font-size: 2rem;
      margin-right: 0.5rem;
      @include bp($mobile_lg) {
      font-size: 1.2rem;
    }
    }
  }


  &.active {
    border-color: color-mix(in srgb, var(--secondary-color-6) 40%, white 10%);
    background: color-mix(in srgb, var(--secondary-color-6) 10%, white 0.5%);
  }

  &:nth-child(3n + 1) {
    color: var(--secondary-color-9);
    &:hover{
      border-color: color-mix(in srgb, var(--secondary-color-9) 40%, white 10%);
      background: color-mix(in srgb, var(--secondary-color-9) 10%, white 0.5%);
    }
  }
  &:nth-child(3n + 2) {
    color: var(--secondary-color-5);

    &:hover {
      border-color: color-mix(in srgb, var(--secondary-color-5) 40%, white 10%);
      background: color-mix(in srgb, var(--secondary-color-5) 10%, white 0.5%);
    }
  }
  &:nth-child(3n + 3) {
    color: var(--secondary-color-6);

    &:hover {
      border-color: color-mix(in srgb, var(--secondary-color-6) 40%, white 10%);
      background: color-mix(in srgb, var(--secondary-color-6) 10%, white 0.5%);
    }
  }
}

.cart_table__row:hover .recommended{
   background: var(--dark);
   border-radius: var(--br-3);
}
