@import "@/styles/helpers/helpers-all.scss";

.page-wrapper {
  position: relative;

  .disabled-unavailable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    // display: none;

    z-index: 4;

    p {
      display: block;

      color: #fff;
      opacity: 1;
    }

    @include bp($desktop_xl) {
      p {
        font-size: 25px;
      }
    }

    @include bp($desktop) {
      p {
        font-size: 24px;
      }
    }

    @include bp($tablet_max) {
      p {
        font-size: 21px;
      }
    }

    @include bp($tablet_md) {
      p {
        font-size: 18px;
      }
    }

    @include bp($mobile_xs) {
      p {
        font-size: 14px;
      }
    }
  }
}

.streaming {
  position: relative;

  min-height: calc(100vh - var(--height-header));


  z-index: 1;

  .disabled-unavailable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;

    // display: none;

    z-index: 4;

    p {
      display: block;

      font-size: 17px;
      color: #fff;
      opacity: 1;
    }

    @include bp($desktop) {
      p {
        font-size: 15px;
      }
    }

    @media (max-width: 380px) {
      p {
        font-size: 12px;
      }
    }
  }

  @include bp($tablet_max, min) {
    padding: 1.4rem 3.8rem 4rem 8.2rem;
  }

  @include bp($tablet_max - 1) {
    padding: 4rem 2rem;
  }
}



.account__description-wrap {
  margin-bottom: 20px;
}

.account__description {
  font-family: var(--font-baguede);
  text-align: center;
}

.account__description-top {
  p:nth-child(1) {
    color: #f8c402;
    font-size: 30px;
    font-weight: bold;
  }

  p:nth-child(2) {
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.account__description-bottom {
  p{
    font-weight: 400;
    font-size: 12px;
    color: #909090;
  }

  svg {
    width: 120px;
    height: 70px;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;
}

.cols {
  display: flex;

  @include bp($tablet_max - 1) {
    flex-wrap: wrap;
  }
}

.col {

  @include bp($tablet_max, min) {

    &:nth-child(2) {
      width: 100px;
      padding: 11.2rem 4.2rem 2.8rem 0;
      flex: 1 1 66.2%;
    }

    // &:nth-child(3) {
    //   flex: 1 1 33.8%;
    // }
  }

  @include bp($tablet_max - 1) {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &:first-child {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

.col__tabs {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: fit-content;

  @include bp($tablet_max, min) {
    height: 8.4rem;

    transform-origin: 0 0;
    transform: rotate(90deg) translateY(-100%);
  }

  @include bp($tablet_max - 1) {
    height: 5rem;
    margin: 0 -2rem;
    padding: 0 1rem;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.money {
  position: relative;
  z-index: 99;
  padding: 1.2rem 1rem;
  flex-shrink: 0;

  .spray-money-text {
    font-size: 10px;
    margin-top: 10px;
    color: #f5c350;
    font-weight: 900;
  }

  @include bp($tablet_max, min) {
    width: 12.2rem;
  }

  @include bp($tablet_max - 1) {
    width: 6.6rem;
    margin: 0 0.5rem 0 -0.85rem;
    padding: 0;
  }

  @include bp($mobile_lg) {
    .spray-money-text {
      font-size: 6px;
    }
    width: 6.2rem;
  }
}

.video_block {
  margin-bottom: 1.8rem;
  position: relative;

  .wallet_section {
    position: absolute;
    z-index: 1;
  }

  @media (min-width: 1024px) {
    .wallet_section {
      top: -0.4rem;
      left: -5rem;
    }
  }
}
