.no-results {
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    text-align: center;
    font-weight: 800;
    justify-content: center;
    margin: 10rem 0 20rem 0;
  
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
  
    .notFoundImage {
      position: relative !important;
      width: 40% !important;
      max-width: 100%;
    }

    .recommendButton {
        margin-top: 6rem;
    }

    @media (min-width: 814px) {
        font-size: 3rem;

        .notFoundImage  {
            width: 26% !important; 
        }
    }
  }
  