.wallet-fund__success{
    width: 80%;
    max-width: 200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    text-align: center;
    
    .fundWalletTrial__success {
        max-width: 100%;
        margin-bottom: 1.4rem;
    }

    .fund-success-message {
        color: #67E083;
    }
}


.wallet-fund__failed{
    width: 80%;
    max-width: 200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    
    .fundWalletTrial__failed {
        max-width: 100%;
       margin-bottom: 1rem;
    }

    .fund-failed-message{
        margin: 0 auto;
        color: #FF0000;
        margin-bottom: 1.4rem;
    }

    .fund-failed-button{
        max-width: 200px;
        margin: 0 auto;
    }
}