@import "@/styles/helpers/helpers-all.scss";

.product {
  @include flex_block(row, nowrap, flex-start, stretch, stretch);
}

.product__image {
  flex-shrink: 0;

  img {
    object-fit: cover;
    border-radius: var(--br-4);
  }

  @include bp($tablet_max, min) {
    min-height: 10rem;
    max-height: 12.8rem;
    width: 12.8rem;
    margin-right: 3.6rem;
  }
  @include bp($tablet_max - 1) {
    min-height: 3.5rem;
    max-height: 5.5rem;
    width: 7.4rem;
    margin-right: 1.5rem;

    img {
      border-radius: var(--br-sm);
    }
  }
}

.product__content {
  flex: 1 1 auto;
  align-self: center;

  @include bp($tablet_max, min) {
    min-width: 27.2rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
  @include bp($tablet_max - 1) {
    &:not(:last-child) {
      margin-right: 3.4rem;
    }
  }
}

.product__title {
  letter-spacing: -0.04em;

  @include bp($tablet_max, min) {
    font-size: 2.1rem;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  @include bp($tablet_max - 1) {
    @include flex_block(row, nowrap, flex-start, flex-start);
    font-size: 1.4rem;

    &:not(:last-child) {
      margin-bottom: 0.4rem;
    }
  }
}

.product__title_in {
  @include bp($tablet_max - 1) {
    max-width: 80%;
    width: 100%;
  }
}

.product__subtitle {
  font-weight: 500;
  color: var(--light);
  font-family: var(--font-bw-modelica);
  letter-spacing: -0.04em;

  @include bp($tablet_max, min) {
    font-size: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 1.3rem;
    }
  }

  @include bp($tablet_max - 1) {
    font-size: max(0.8rem, 8px);

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.product__description {
  font-family: var(--font-bw-modelica);
  color: var(--secondary-color-4);
  letter-spacing: -0.04em;

  @include bp($tablet_max, min) {
    font-size: max(1rem, 10px);
  }
  @include bp($tablet_max - 1) {
    line-height: 1.6;
    font-size: max(0.8rem, 8px);
  }
}

.product__qty {
  align-self: center;
  flex-shrink: 0;

  @include bp($tablet_max, min) {
    &:not(:last-child) {
      margin-right: 6.4rem;
    }
  }
}

.product__price {
  align-self: center;
  letter-spacing: -0.04em;
  color: var(--light);

  @include bp($tablet_max, min) {
    min-width: 13rem;
    font-size: 2.8rem;

    &.product__price--mobile_mod {
      display: none;
    }
  }

  @include bp($tablet_max - 1) {
    margin-left: 1.2rem;
    flex: 1 0 auto;

    font-size: 1.4rem;

    &.product__price--desktop_mod {
      display: none;
    }
  }
}
