@import "@/styles/helpers/helpers-all.scss";
@import "@/styles/helpers/form.scss";

.custom-container-class {
  @include bp($tablet_max, min) {
    height: 6.6rem;
    font-size: 2rem;
  }

  @include bp($tablet_max - 1) {
    height: 4.8rem;
    font-size: 1.5rem;
  }
}



.errorMessage {
  text-align: left;
  color: #ff2121;
  font-size: 1.45rem;
  margin-top: -0.1rem;
  display: flex;
}

.full__width__height {
  width: 100%;
  height: 100%;
  position: relative;

  select::-ms-expand {
    display: none;
  }
}

.select__custom__style {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-family: var(--font-baguede);
  padding: 8px 11.2px;
  border-color: var(--light);
  background-color: transparent;
  color: var(--light);

  @include bp($tablet_max, min) {
    height: 6.4rem;
    font-size: 2rem;

    &.select--md_size {
      max-width: 28rem;
    }
  }

  @include bp($tablet_max - 1) {
    height: 4.8rem;
    font-size: 1.5rem;
  }
}

.svg__wrapper {
  position: absolute;
  z-index: 100;
  right: 1rem;
  top: 35%;

  svg {
    font-size: 1.8rem;
  }
}
