@import "@/styles/helpers/helpers-all.scss";

.show-reminder {
  top: 5rem;
}

.hide-reminder {
  top: 0;
}

.header {
  position: fixed;
  

  left: 0;
  z-index: 999999;

  width: 100%;
  height: var(--height-header-2);

  transition: all 0.4s;

  @include bp($tablet_max, min) {
    padding: 3.3rem var(--gl-hr-indent);
  }

  @include bp($tablet_max - 1) {
    // padding: 2.2rem var(--gl-hr-indent) 2rem;
    padding: 10px 15px;
  }

  &.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  // margin: 0 -2rem -2rem 0;
}

.header__logo {
  display: block;
  color: var(--button-color-1);

  :hover {
    color: var(--light);
  }

  @include bp($tablet_max, min) {
    width: 9.6rem;
    height: 3.2rem;
  }

  @include bp($tablet_max - 1) {
    width: 4.8rem;
    height: 1.6rem;
  }

  @media (min-width: 750px) and (max-width: 919px) {
    width: 4.9rem;
    height: 2.6rem;
  }
}

.header__cta {
  color: var(--light);
  font-size: 1.4rem;
  letter-spacing: -0.04em;
  text-decoration: underline;
}

.get-pass-button {
  padding: 0 0 !important;

  @include bp($tablet_max, min) {
    display: none;
  }

  @include bp($tablet_max - 1) {
    appearance: none;
    height: 4rem !important;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: underline;

    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: white !important;
    }
  }

  @media (min-width: 750px) and (max-width: 919px) {
    font-size: 2.3rem;
  }
}

.profile-dropdown {
  display: flex;
  align-items: center;
  gap: 1rem;

  & span {
    font-family: "baguede";
    margin-top: 4px;
    font-size: 1.2rem;

    @include bp($tablet_max, min) {
      font-size: 1.5rem;
    }

    @include bp($tablet_max - 1) {
      font-size: 1.5rem;
    }
  }
}
