@import "@/styles/helpers/form.scss";

//---------------------------------------------Input
.input {
  &:not(.otpInput) {
    &.inputPrimary {
      @include form-field();
      box-shadow: none;
      width: 100%;

      // &:focus {
      //   box-shadow: inset 0 0 0 1px #919a57;
      // }
      &.error {
        box-shadow: none;
      }
    }

    &.inputSecondary {
      @include form-field-secondary();

      // &:focus {
      //   box-shadow: inset 0 0 0 1px #919a57;
      // }
      &.error {
        box-shadow: none;
      }
    }
  }

  &.otpInput {
    @include otp-field();
  }
}

//---------------------------------------------Input###
.component {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: inset 0 0 0 1px #707070;
  border-radius: 7px;

  // &.focus {
  //   border: 0.2px solid var(--light);
  // }

  &.error {
    border: 1px solid #ff2121;
    box-shadow: none;
    border-radius: 7px;
  }
}

.password {
  position: relative;
  cursor: pointer;
}

.x_icon {
  position: absolute;
  right: 10px;
  width: 16px;
  height: 16px;
  object-fit: fill;
}

.eye {
  position: absolute;
  content: "";
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

.errorEye {
  right: 35px; // Position when error occurs
}

.errorMessage {
  text-align: left;
  color: #ff2121;
}
