@import "@/styles/helpers/helpers-all.scss";

.account {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // overflow: hidden;

  @include bp($tablet_max, min) {
    padding-top: 4rem;
    justify-content: flex-end;
  }

  @include bp($tablet_max) {
    // margin-bottom: 550px;
  }

  @include bp($tablet_min) {
    margin-bottom: 350px;
  }

  @include bp($mobile_lg) {
    margin-bottom: 150px;
  }

  @include bp($desktop_sm) {
    height: 100%;
  }

  @include bp($tablet_max - 1) {
    padding: 5.6rem var(--gl-hr-indent);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: var(--dark);
      opacity: 0.85;
    }
  }

  @include bp($mobile_md + 10) {
    // margin-bottom: 300px;
  }
}

.account__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  picture {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    // background-color: var(--dark);

    @include bp($tablet_max, min) {
      opacity: 0.96;
    }

    @include bp($tablet_max - 1) {
      opacity: 0.82;
    }
  }
}

.account__nav {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 5.6rem;
  }

  @include bp($tablet_max, min) {
    flex: 1 1 auto;
  }
}

.account__row {
  // @include bp($tablet_max, min) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem -2rem 0;
    align-items: center;
  // }

  // @include bp($tablet_max - 1) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin: 0 -2rem -2rem 0;
  //   align-items: center;
  // }
}

.account__column {
   @include bp($tablet_max, min) {
    // position: fixed;
    // left: 0;
    // top: 75px;
    padding: 0 2rem 2rem 0;
    &:nth-child(2n + 1) {
      width: 45%;
      padding-top: 0.8rem;
      margin-left:10rem;
    }

    &:nth-child(2n + 2) {
      position: relative;
      height: 100%;
      width: 40%;

      &.account__column--height_mod {
        margin-top: 4rem;
        height: 89vh;
      }
    }
  }
    @include bp($tablet_max - 1) {
      padding: 0 2rem 2rem 0;
      &:nth-child(2n + 1) {
        width: 50%;
        padding-top: 0.8rem;
        margin-left:10rem;
      }
  
      &:nth-child(2n + 2) {
        position: relative;
        height: 100%;
        width: 100%;
  
        &.account__column--height_mod {
          margin-top: -7rem;
          height: 89vh;
        }
      }
    }
 
}

.account__container {
  @include bp($tablet_max, min) {
    position: relative;
  }
}

.account__wrap {
  position: relative;

  @include bp($tablet_max - 1) {
    position: absolute;
    z-index: 0;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    // height: 106.8%;
    height: 100%;

    img {
      object-position: top;
    }
  }
}

.account__image {
  position: relative;
  width: 100%;

  picture {
    
    position: absolute;
    top: -50px;
    left: 0;
    display: block;
    padding-bottom: 50px;

    @include bp($tablet_max) {
      position: relative;
      top: 0;
      opacity: 0.1;
      z-index: -2;
    }
  }

  @include bp($tablet_max, min) {
    // padding-bottom: 99%;
    padding-bottom: 96%;
  }

  @include bp($tablet_max - 1) {
    height: 100%;
  }
}

.account__description-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  width: 100%;
}

.account__description {
  font-family: var(--font-baguede);
  text-align: center;
}

.account__description-top {
  p:nth-child(1) {
    color: #f8c402;
    font-size: 30px;
    font-weight: bold;

    @include bp($tablet_max) {
      font-size: 30px;
    }
  }

  p:nth-child(2) {
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 10px;

    @include bp($tablet_max) {
      font-size: 15px;
    }
  }
}

.account__description-bottom {
  p {
    font-weight: 400;
    font-size: 12px;
    color: #909090;
  }

  svg {
    width: 120px;
    height: 70px;

    @include bp($tablet_max) {
      width: 100px;
      height: 40px;
    }
  }
}

.account__body {
  overflow-y: auto;
  height: 100%;

  display: flex;
  align-items: top;
  min-height: 100%;

  // @include bp($tablet_max, min) {
  //   padding: 2rem calc(var(--gl-hr-indent) + 3.4rem) 10rem;
  // }
}

.account__content {
  text-align: center;
  height: auto;

  margin-left: auto;
  margin-right: auto;

  color: var(--light-2);

  @include bp($tablet_max, min) {
    max-width: 63rem;
  }

  &.account__content--sm {
    @include bp($tablet_max, min) {
      max-width: 80%;
    }
  }

  @include bp($tablet_max - 1) {
    position: relative;
    z-index: 4;
    max-width: 50rem;
  }
}

.account__title {
  font-family: var(--font-baguede);
  strong {
    color: var(--primary-color-3);
  }

  text-align: left;

  &:not(:last-child) {
    @include bp($tablet_max, min) {
      margin-bottom: 2.3rem;
    }

    @include bp($tablet_max - 1) {
      text-align: center;
      margin-bottom: 0.6rem;
    }
  }
}

.account__subtitle {
  font-family: var(--font-bw-modelica);
  letter-spacing: -0.04em;
  font-weight: 700;
  text-align: left;

  color: #989899;

  @include bp($tablet_max, min) {
    font-size: 2rem;
  }

  @include bp($tablet_max - 1) {
    text-align: center;
    font-size: 1.2rem;
  }

  &:not(:last-child) {
    @include bp($tablet_max, min) {
      .account__content--subtitle_sm_offset & {
        margin-bottom: 3.2rem;
      }

      .account__content--subtitle_base_offset & {
        margin-bottom: 3rem;
      }

      .account__content--subtitle_md_offset & {
        margin-bottom: 1.5rem;
      }
    }

    @include bp($tablet_max - 1) {
      margin-bottom: 3rem;
    }
  }
}

.account__children {
  @include bp($tablet_max - 1) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // min-height: 32.8rem;
    width: 100%;
  }
}
