@import "@/styles/helpers/form.scss";

//---------------------------------------------ButtonWrapper
.component {
  @include bp($tablet_max, min) {
    &.component--offset_mod {
      margin-bottom: 2.8rem;
    }

    &.component--offset_lg_mod {
      margin-bottom: 3.8rem;
    }

    &.component--offset_xl_mod {
      margin-bottom: 4.4rem;
    }
  }

  @include bp($tablet_max - 1) {
    margin-bottom: 3rem;
  }
}

//---------------------------------------------ButtonWrapper###
